<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Plugin AngularJs pour l'upload de fichier</title>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <style>
        .upload{
            width: 500px;
            height: 300px;
            border: 1px solid black;
            border-radius: 4px;
            background-color: #C0C0C0;
            margin: auto;
        }
        .text-upload{
            text-align: center;
            vertical-align: middle;
            line-height: 300px;
            font-size: 20px;
            font-weight: bold;
        }
        .uploaded-file{
            width: 500px;
            border: 1px solid grey;
            border-radius: 4px;
            background-color: #FAFAFA;
            margin: auto;
        }
    </style>
</head>

<body ng-app="app" ng-controller="TestController">
    <div file-uploader on-upload="upload(file)" class="upload">
        <div class="text-upload">
            Upload file here ;-)
        </div>
    </div>
    <hr>
    <div class="uploaded-file">
        <form>
            <label for="filter-query">Filter :</label>
            <input id="filter-query" type="text" ng-model="query" /> <br/>
            <br>
            <label for="filter-quantity">Limit :</label>
            <input id="filter-quantity" type="number" ng-model="quantity" />
        </form>
        <p ng-repeat="image in images | filter:query | limitTo:quantity">
            {{ image.imageName }} : {{ image.status }}
        </p>
    </div>
</body>
</html>